<nav class="navbar navbar-default main-nav">
  <div class="container-fluid main-nav-container">
    <a class = "navbar-brand">#</a>
    <button class = "navbar-toggle" data-toggle = "collapse" data-target = "#navHeaderCollapse">
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
    </button>
    <div class = "collapse navbar-collapse" id="navHeaderCollapse">
      <ul class = "nav navbar-nav pull-right">
       <li id="product-add"><%= link_to "Add your product",
        if company_signed_in?
          '/'
        else
          new_company_session_path
        end
         %></li>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact Us", '#' %></li>
        <% if company_signed_in? %>
          <li><li><%= link_to "Profile", profile_path %></li></li>
          <li><%= link_to "Logout", destroy_company_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_company_session_path %></li>
          <li><%= link_to "Sign up", new_company_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
