<div class=" backgroundimage ">
  <div class="backgroundcolor">
    <div class=" textlayout ">
      <h1> <b>The top cherries of crowdfunding</b></h1>
      <h4>Acquire the finest, most innovative products.
            Be among the first ones to enjoy them. </h4>
      <div class="color-search">
      <div class="container search-bar">
        <div class="row">
          <div class="col-xs-12 col-md-2 first-field-search">
            <%= simple_form_for @search do |f| %>
            <%= f.input :amount_funded, label: false, placeholder: "Minimum funding", class: "form-control", style: "font-size:100px" %>
          </div>
          <div class="col-xs-12 col-md-2">
            <%= f.input :brand, label: false, class: "form-control", placeholder: "Product name" %>
          </div>
          <div class="col-xs-12 col-md-2">
            <%= f.input :category, label: false, prompt: "Select a category", collection: @categories, class: "form-control" %>
          </div>
          <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-0 text-center" id="home-search">
            <%= f.submit "Search", class: "btn btn-material-pink" %>
          </div>
            <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="container tabs-products">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        <a data-toggle="tab" href="#home" class="active"><b>Most popular products</b></a>
      </div>
      <div class="col-xs-3">
        <a data-toggle="tab" href="#menu1"><b>Technology</b></a>
      </div>
      <div class="col-xs-3">
        <a data-toggle="tab" href="#menu2"><b>Trending</b></a>
      </div>
    </div>
  </div>
</div>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-overlay">
            <% @results_popular.each do |product| %>
              <div class="card-container">
                <%= link_to show_product_path(product.name) do %>
                  <div class="card card-overview">
                    <div class="card-image">
                      <img class="img-responsive" src="<%= raw product.picture_path %>">
                    </div>
                    <div class="card-action">
                      <div class="card-action-name">
                        <%= product.name %>
                      </div>
                      <div class="card-action-price">
                        <%= humanized_money_with_symbol(product.price) %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="card-overlay">
            <% @results_tech.each do |product| %>
              <div class="card-container">
                <%= link_to show_product_path(product.name) do %>
                  <div class="card card-overview">
                    <div class="card-image">
                      <img class="img-responsive" src="<%= raw product.picture_path %>">
                    </div>
                    <div class="card-action">
                      <div class="card-action-name">
                        <%= product.name %>
                      </div>
                      <div class="card-action-price">
                        <%= humanized_money_with_symbol(product.price) %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
