<%= simple_form_for @company, url: profile_update_path, method: "patch" do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true %>
    <%= f.input :house_number, autofocus: true %>
    <%= f.input :city, autofocus: true %>
    <%= f.input :zipcode, autofocus: true %>
    <%= f.input :country, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save changes" %>
  </div>
<% end %>
