<%= simple_form_for @search, url: show_search_path, method: "patch" do |f| %>
  <div class="col-xs-12">
  <%= f.input :price, collection: [["No maximum", nil],["< € 100", 10000],["< € 250", 25000],["< € 500", 50000],["< € 1000", 100000]], selected: @search.price.to_i, prompt: "Select a amount", class: "form-control" %>
  <%= f.input :amount_funded, collection: [["No minimum", 0],["> 10.000 euro", 10000],["> 100.000 euro", 100000],["> 1.000.000 euro", 1000000]], selected: @search.amount_funded.to_i, prompt: "Select a amount", class: "form-control", id: "price" %>
  </div>
  <div class="col-xs-12">
  <%= f.input :brand, class: "form-control", placeholder: "Product name" %>
  </div>
  <div class="col-xs-12">
  <%= f.input :category, prompt: "Select a category", collection: @categories, class: "form-control" %>
  </div>
  <div class="col-xs-12">
  <%= f.label :delivery_date, "Max delivery date" %>
  <%= f.date_field :delivery_date, selected: @search.delivery_date, class: "form-control" %>
  </div>
  <div class="col-xs-4 col-xs-offset-4 col-md-12 col-md-offset-0">
    <%= f.submit "Refine results", class: "btn btn-material-pink" %>
  </div>
<% end %>
