<!-- Dynamicly generate background images -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= render 'searches/edit' %>
    </div>
    <div class="col-xs-12 col-md-9">
      <% @results.each do |product| %>
        <%= link_to show_product_path(product.name) do %>
        <style media="screen">
          .image-<%= product.id %> { background-image: url("<%= raw product.picture_path %>"); }
        </style>
        <div class="col-xs-12 col-sm-6 col-lg-4 product-box text-center image-<%= product.id %>">
          <%= product.name %>
          <%= humanized_money_with_symbol(product.price) %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

