<div class="container-fluid bg-colored">
<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Price
              </th>
              <th>
                Delivery date
              </th>
              <th>
                Amount funded
              </th>
              <th>
                Approval
              </th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |p| %>
              <tr>
                <td><%= p.name %></td>
                <td>$<%= p.price %></td>
                <td><%= p.delivery_date %></td>
                <td>$<%= p.amount_funded %></td>
                <td>
                  <% if p.approved %>
                    Approved
                  <% else %>
                    Pending approval
                  <% end %>
                </td>
                <td>
                  <%= link_to "Show product page", show_product_path(p.name), class: "btn own-btn" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
