<div class="container">
  <div class="row">
      <h1 class= "text-center"><%= @product.name %></h1>
      <br>
      <div class="col-xs-12 col-md-6">
        <iframe width="100%" height="360px" src= "<%= @product.campaign_link %>/widget/video.html" frameborder="0" scrolling="no"> </iframe>
      </div>
      <div class="col-xs-12 col-md-6 text-center bg-colored order-box">
        <h4>Total funded: $<%= @product.amount_funded %></h4>
        <h4>Total backers: <%= @product.amount_backers %></h4>
        <h4> Price: <%= humanized_money_with_symbol(@product.price) %></h4>
        <h4>Expected delivery: <%= @product.delivery_date %></h4>
        <%= simple_form_for @order, method: "post" do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :amount_cents, value: @product.price_cents %>
          <%= f.hidden_field :state, value: "pending" %>
          <%= f.submit "Order the product", class: "btn btn-danger" %>
        <% end %>
      </div>
  </div>
</div>
