<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class= "text-center"><%= @product.name %></h1>
      <div class="col-xs-12 col-md-6">
        <iframe width="100%" height="360px" src= "<%= @product.campaign_link %>/widget/video.html" frameborder="0" scrolling="no"> </iframe>
      </div>
      <div class="col-xs-12 col-md-6 text-center">
        <h4> Total funded: $<%= @product.amount_funded %></h4>
        <h4>Total backers: <%= @product.amount_backers %></h4>
        <h4> Price: $<%= @product.price %></h4>
        <h4>Expected delivery: <%= @product.delivery_date %></h4>
        <%= link_to "Order the product", '#',class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
