<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-6 video-box">
        <iframe width="100%" height="360px" src= "<%= @product.campaign_link %>/widget/video.html" frameborder="0" scrolling="no"> </iframe>
        <p>The StandUp Large is our height adjustable desk ideal for creative startup offices or home. Thanks to its manual and simple adjustment system, all employees or family members are able to use it at a comfortable height.
        The desk is 100% made in Belgium using FSC-certified Birch plywood and environmentally friendly finishes.
        The height ranges between 91cm and 122cm (this height relates to the elbow height of the user).
        Expected delivery in December 1, 2015.</p>
      </div>
      <div class="col-xs-12 col-md-6 details-box">
        <h1><%= @product.name %></h1>
        <h4><b>€<%= @product.amount_funded.round()%></b></h4>
        <h5>amount of funding</h5>
        <h4><b><%= @product.amount_backers %></b></h4>
        <h5>backers</h5>
        <h4><b><%= humanized_money_with_symbol(@product.price) %></b></h4>
        <h5>price</h5>
        <h4><b><%= @product.delivery_date %></b></h4>
        <h5>expected delivery</h5>
        <%= simple_form_for @order, method: "post" do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.hidden_field :amount_cents, value: @product.price_cents %>
          <%= f.hidden_field :state, value: "pending" %>
          <%= f.submit "Order the product", class: "btn btn-material-pink" %>
        <% end %>
      </div>
  </div>
</div>
